* {
  color: var(--font-color)
}

body {
  background-color: var(--primary-color);
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 650px;
  padding-bottom: 4em;
}

.auth-container {
  background-color: var(--modal-color);
  padding: 40px;
  border-radius: 15px;
  width: 500px;
}

section {
  display: flex;
  gap: 2em;
  text-align: left;
}

.section {
  background-color: var(--modal-color);
  border-radius: 15px;
  padding: 2em;
}

.sub-section {
  display: flex;
  justify-content: space-between;
}

.sub-section svg {
  margin: auto 0;
}

h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  color: #fff;
  margin: 0.3em 0;
}

.container h2 {
  text-align: left;
}

.section h4 {
  margin: 0;
  font-size: 1.1rem;
}

.container p {
  text-align: left;
}

.section p {
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
}

input {
  color: #000;
  width: 100%;
  padding: 0.8em 1.5em;
  margin: 0.7em 0;
  border-radius: 5px;
  font-size: 1rem;
}

.btn {
  background-color: var(--secondary-color);
  display: inline-block;
  color: #fff;
  padding: 0.5em 3em;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
  margin: 1em auto 0;
}

.auth-container .btn {
  width: 100%;
}

.btn:hover {
  background: var(--btn-hover);
}

.link:hover {
  color: var(--secondary-color);
}

label {
  display: block;
  text-align: left;
}

.error-message {
  color: red;
  font-weight: 200;
  font-size: 1rem;
  margin: 1.2em 0;
}

.sentry {
  background-color: #fff;
  color: #000;
  margin-left: 1em;
}

.sentry:hover {
  background-color: #ddd;
}