.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.btn {
  padding: 0.8em 1.4em;
  margin: 0;
  background-color: #454553;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
}

.container .active {
  color: #fff;
  background-color: #1E1E1E;
  box-shadow: inset 0 0 0 5px #454553;
}